# Ignore Mac DS_Store files
.DS_Store

# Ignore test files
main.py
test*
temp*
debug*

# Ignore compiled files
*__pycache__*

# Ignore other files
/.idea/*
/*.vscode/*
/venv/*

# Ignore webdriver
*chromedriver*
*phantomjs*

pyproject.toml
